.grid-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.grid-container img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.grid-container img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}